nav  mat-toolbar{
  display: flex;
  justify-content: space-between;
}
.nav-title{
  font-size: 24px;
  color: darkcyan;
}

.profile {
  background-image: url('../data/avatar2.png');
  background-size: cover;
}

mat-card-header span{
  font-size: 18px;
  font-weight: bold;
}
section mat-card-header{
  display: flex;
  flex-direction: column;
}
.module-icon{
  background-image: url("../data/avatar3.png");
  background-size: cover;
}
.container{
  display: flex;
  width: 100%;
  height: 90vh;
}
.container div{
  width: 50%;
  background-color: #b9dcea;
}
.container1 img{
  width: 100%;
  height: 100%;
}
.container2{
  padding-top: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  row-gap: 20px;
}

.container2 mat-card{
  height: 150px;
  width: 300px;
}
