<nav>
  <mat-toolbar>
    <span class="nav-title">DossierMedical</span>
    <div>
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar class="profile"></div>
          <button mat-raised-button>Issakha</button>
<!--          <mat-card-title><button mat-raised-button>Issakha</button></mat-card-title>-->

        </mat-card-header>
      </mat-card>

    </div>
  </mat-toolbar>
</nav>

<section class="container">
  <div class="container1">
    <img src="https://img-3.journaldesfemmes.fr/puF1kevxfz5N2Ti2FLzpPuaFIQ8=/1500x/smart/63f98caebc1a453e886800b13cf23543/ccmcms-jdf/23373459.jpg">
  </div>
  <div class="container2">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Informations personnelles du client</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Cliquer pour consulter
        </p>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-raised-button color="primary" routerLink="/doctor/dossier-medical/info-perso">Consulter</button>
      </mat-card-actions>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Résumé du dossier médical</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Cliquer pour consulter
        </p>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-raised-button color="primary" routerLink="/doctor/dossier-medical/resume">Consulter</button>
      </mat-card-actions>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Historique des visites médicales</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Cliquer pour consulter
        </p>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-raised-button color="primary" routerLink="/doctor/dossier-medical/historique">Consulter</button>
      </mat-card-actions>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Résultats des examens médicaux</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Cliquer pour consulter
        </p>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-raised-button color="primary" routerLink="/doctor/dossier-medical/resultats">Consulter</button>
      </mat-card-actions>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Prescription médicale</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Cliquer pour consulter
        </p>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-raised-button color="primary" routerLink="/doctor/dossier-medical/prescription">Consulter</button>
      </mat-card-actions>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Notes et observations</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Cliquer pour consulter
        </p>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-raised-button color="primary" routerLink="/doctor/dossier-medical/notes-observation">Consulter</button>
      </mat-card-actions>
    </mat-card>
  </div>
</section>
