<nav>
    <mat-toolbar>
        <div class="left-nav">
            <button mat-icon-button><mat-icon>menu</mat-icon></button>
            <input placeholder="search"/>
            <mat-icon>search</mat-icon>
        </div>
        <div class="right-nav">
            <button mat-icon-button >
                <mat-icon  aria-label="chat">chat_bubble</mat-icon>
            </button>
            <button mat-icon-button matBadge="0"  matBadgeColor="warn" matBadgeSize="small">
                <mat-icon aria-label="notifications" >notifications</mat-icon>
            </button>
            <button mat-raised-button >
                <mat-icon aria-label="profile">person</mat-icon>
                Dr.Kim
            </button>
        </div>
    </mat-toolbar>
</nav>
<mat-divider></mat-divider>