<div class="container">
    <h1>View Post</h1>
  
    <a href="#" routerLink="/post/index" class="btn btn-primary">Back</a>
   
    <div>
        <strong>ID:</strong>
        <p>{{ post.id }}</p>
    </div>
   
    <div>
        <strong>identifiant:</strong>
        <p>{{ post.identifiant }}</p>
    </div>
   
    <div>
        <strong>motDePasse:</strong>
        <p>{{ post.motDePasse }}</p>
    </div>

    <div>
        <strong>typeUser:</strong>
        <p>{{ post.typeUser }}</p>
    </div>
   
</div>