
.container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 10px;
  background-color: #b9dcea;



}

mat-card{
  width: 300px;

}

mat-card-header {
  padding: 10px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

 nav div {
  display: flex;
  align-items: center;
}

nav div input{
  padding: 12px;
  border-radius: 12px;
  width: 200px;
  margin-right: 10px;
}

mat-card-actions button {
  margin-right: 12px;
}

.word {
  color: #0e0698;
}

mat-card {

}
nav mat-toolbar{
  display: flex;
  justify-content: space-between;
}

mat-card-content div{
  margin-top: 10px;
}
mat-card-content div span:nth-child(1){
  margin-right: 5px;
  font-weight: bold;
}
.example-header-image {
  background-image: url('../data/avatar2.png');
  background-size: cover;
}
.example-header-image2 {
  background-image: url('../data/avatar3.png');
  background-size: cover;
}
